h1 {
    text-align: center;
    border: 3px solid magenta;
    /* border-top: 5px double aqua;
    border-left: 10px dashed orangered;
    border-right: 10px inset pink;
    border-bottom: 5px dotted blue; */
    border-radius: 20px;
}
    img {
        width: 250px;
        height: auto;
    }

    figure {
        text-align: center;
        background-color: #05040c;
        border: 2px double magenta;
        height: 200px;
        width: 400px;
    }

    figcaption {
        color: white;
    }