* {
    margin: 0;
    font-size: 62.5%;
}

.texto1 {
    color: #7fffd4;
    font-size: 2.0rem;
}

.texto2 {
    background-color: magenta;
    height: 10vh;
    width: 10vw;
}

.texto3 {
    font-size: 1.4rem;
    /* 14px */
}

ol {
    font-size: 1.5rem;
    /* 15px */
}

li{
    font-size: 2em;
}

a {
    font-size: 2em;
    /* 60px */
}

div {
    background-color: yellow;
    height: 200px;
    width: 200px;
}